* {
  padding: 0;
  margin: 0;
}

.text {
  text-align: center;
  background-color: rgb(214, 208, 208);
  height: 120px;
  padding: 60px;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  padding: 1rem;
  background-color: #333;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.nav-item {
  list-style: none;
}

.nav-link.active {
  color: red;
}

button {
  width: 60px;
  height: 30px;
  border: 2px solid black;
  border-radius: 5px;
}

button:hover {
  color: white;
  background-color: black;
}

input {
  height: 20px;
  padding-left: 2px;
  border: 2px solid black;
}
