* {
  padding: 0;
  margin: 0;
}

.text {
  text-align: center;
  color: rgb(0, 0, 255);
  background-color: aquamarine;
  height: 50px;
  padding-top: 30px;
}

.red {
  font-weight: 600;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  padding: 1rem;
  background-color: #333;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.nav-item {
  list-style: none;
}

.nav-link.active {
  color: red;
}
