.card {
  border: 2px solid black;
  max-width: 31vw;
}

.container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 30px 3px;
  color: rgb(255, 255, 255);
  background-color: black;
}
li {
  list-style: none;
}

* {
  padding: 0px;
  margin: 0px;
}
